<!DOCTYPE html>
  <head> 
    <meta name="viewport" content="width=device-width,
initial-scale=1.0">
    <title>Let your dollars circulate</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta charset="utf-8">
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <!-- <link href="/static/css/bootstrap.css" rel="stylesheet"> -->
        <style> body { padding-top: 65px; } </style>
  </head>
  <body class="body">
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/"Taskr></a>
         <div class="nav-collapse">
          <ul class="nav">
          </ul>
          <ul class="nav pull-right">
            {% if not session.logged_in %}
              <li><a href='/register'>Signup</a></li>
              {% else %}
              <li><a href='/logout'>Logout</a></li>
              {% endif %}
          </ul>
         </div>
        </div>
      </div>
    </div>

    <div class="new">
      <div class="content">
      {% for message in get_flashed_messages() %}
      <!-- Michael left out quotes around his flash class in the line below -->
        <div class="flash">{{ message }}</div>
        <br/>
      {% endfor %}
      {% if error %}
      <!-- Michael left a closing </p> in the line below -->
        <p class="error"><strong>Error:</strong> {{ error }} </p>
      {% endif %}
      {% block content %}
      {% endblock %}
      </div>
    </div>
    <footer class="footer">
      <hr>
      <p>&copy; Circulate</p>
    </footer>
  </body>
</html>